@import '@inkline/inkline/css/variables';
@import '@inkline/inkline/css/mixins';
@import './fonts.scss';

:root {
    /***  Vulcan Dark ***/
    --color--dark--h: 222deg;
    --color--dark--s: 32%;
    --color--dark--l: 8%; /* original 8% */
    /***  Vulcan Light  ***/
    --color--light--h: 222deg;
    --color--light--s: 32%;
    --color--light--l: 94%; /* original 94% */
    /***  Margueritte  ***/
    --color--primary--h: 243deg;
    --color--primary--s: 40%;
    --color--primary--l: 56%; /* original 56% */
    /***  Brain  ***/
    --color--secondary--h: 315deg;
    --color--secondary--s: 44%;
    --color--secondary--l: 55%; /* original 55% */
    /***  Tuna  ***/
    --color--gray--h: 216deg;
    --color--gray--s: 13%;
    --color--gray--l: 50%; /* original 72% */


    --body--background--dark: var(--color--dark);
    --body--color--dark: var(--color--light);

    --body--background--light: var(--color--light);
    --body--color--light: var(--color--dark);


    --font-family-primary--base: Satoshi-Variable, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, system-ui, 'Helvetica Neue', sans-serif;
    --font-family-primary--monospace: JetBrainsMono-Variable, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace; 
    --font-family-secondary--base: Technor-Variable, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

@include i-pagination() {
    ----opacity--disabled: 0.2;
}

@include i-button() {
  ----opacity--disabled: 0.2;
}

@include i-navbar() {
  border: none;
}