@import './base.css';

:root {
  --green-color:  hsla(160, 100%, 37%, 1);
  --green-color-hover: hsla(160, 100%, 37%, 0.2);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

#content {
  padding: 80px 2rem 0 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: start center;
  }

  #content {
    padding-top: 100px;
  }
}
